/* this just resets base styles*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* i added a dark background color to the header, white text, some padding, and centered the text */
header {
  background-color: #343a40;
  color: white;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 1.5rem;
}

/* i centered and spaced the heading section */ 
.heading {
  text-align: center;
  margin: 2rem auto;
  padding: 0 1rem;
}

/* i set background color and font for the body */
body {
  background-color: #edeff1;
  font-family: sans-serif;
  line-height: 1.6;
}

/* i styled the links to look like buttons, */
.links {
  display: inline-block;
  text-decoration: none;
  background-color: #787880;
  border: 1px solid black;
  border-radius: 0.2rem;
  color: white;
  padding: 0.4rem 0.75rem;
  margin: 0.3rem 0.2rem;
  font-size: 0.9rem;
}

/* i added padding,gave it a background color and i made the corners rounded  */
.btn {
  padding: 0.55rem 1rem;
  background-color: #787880;
  color: white;
  border-radius: 5px;
  border: none;
  margin-right: 0.5rem;
}


/* i added a white background, box shadow, rounded corners, and overflow hidden to the card ,so that way the contents of the card dont spill out the border radius*/
.card {
  background: white;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  overflow: hidden;
  max-width: 100%;
}

/* i added a small padding to the inside of the card body */
.card-body {
  padding: 0.5rem;
}

/* i rounded the top corners of the image and made it fill the width of the card */
.card-img-top {
  width: 100%;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

/* i used flexbox to spread out the content inside the card footer */
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

/* i set the displzay to flex to align the  buttons  horizontally */
.btn-group {
  display: flex;
}


/* i set the display to arrange the cards in 3 columns and added gap between them,then i used autofill to make it responsive */
.container {
  margin: 0 auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 2rem;
  max-width: 90vw;
}

/* i used flexbox to center the grid on the page */
.main-grid {
  display: flex;
  justify-content: center;
}

/* i used a light grey background for the footer, centered the text, and made the font smaller */
footer {
  background-color: #f8f9fa;
  color: #333;
  padding: 1rem 2rem;
  text-align: center;
  font-size: 0.9rem;
  margin-top: 2rem;
}



